.button-like {
  width: 37px;
  height: 33px;

  background: url('~@images/buttons/heartB.svg') no-repeat;
}

.button-like_active {
  background: url('~@images/buttons/heart.svg') no-repeat center;

  &:hover {
    animation: heartRemove 1.5s ease-in-out;
    transform-origin: center bottom;
  }
}

@keyframes heartAdd {
  25% {
    transform: scale(1.2)
  }
  75% {
    transform: scale(0.9)
  }
}

@keyframes heartRemove {
  10% {
    transform: rotate(-30deg)
  }
  30% {
    transform: rotate(+30deg)
  }
  50% {
    transform: rotate(-30deg)
  }
  60% {
    transform: rotate(0deg)
  }
  80% {
    transform: scale(0.8)
  }
  100% {
    transform: scale(1)
  }
}