@use '~@scss/variables/colors' as c;
@use '~@scss/variables/sizes' as s;

.checkbox-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  label {
    cursor: pointer;
  }
}

.checkbox-container [type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #e95104;
}

label:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  left: 4px;
  font-size: 1.3em;
  line-height: 0.8;
  background-color: #e95104;
  transition: all 0.2s;
}

/* Checked */
.checkbox-container [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.checkbox-container[type="checkbox"]:checked label:after {
  opacity: 1;
  transform: scale(1);
}


// total

.total-container {

  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-device-width: s.$max-device-width) {
    flex-wrap: wrap;
    bottom: -3em;
  }
}

.total-container.total-container_bottom {
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  gap: 35px;
}

.total-price {
  font-size: s.$fzTotal_Price;

  span {
    color: c.$gold;
  }

  @media screen and (max-device-width: s.$max-device-width) {
    width: 100%;
  }
}

.total-button {
  font-size: s.$fzTotal_Btn;
  font-weight: 700;
  text-transform: uppercase;
  background: c.$baColor_total-btn;
  border: 2px solid c.$bgColor_checkbox;

  color: c.$fColorWhite;
  width: 160px;
  height: 50px;

  transition: color 0.5s ease, background-color 0.5s ease;

  &:hover {
    color: c.$baColor_total-btn;
    background: c.$bgColor_checkbox;
  }

  @media screen and (max-device-width: s.$max-device-width) {
    width: 100%;
  }
}
