.tree {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  background: rgba(0, 0, 0, 0.5);

  animation: hideTree 8.3s ease-in;
}

svg {
  height: 60vh;
  width: 80%;
  overflow: visible;
}

path.top {
  fill: #ff0;
}

path {
  fill: #00ff0d;
  stroke: #00ff00;
  stroke-width: .2;
  transform: scale(0);
  transform-origin: 50% 50%;
  animation: star 8s ease-in;
  animation-delay: calc((var(--no) - 165) * -.015s);
  //transform-box: fill-box;
}

