@use '~@scss/variables/colors' as c;
@use '~@scss/variables/sizes' as s;

.header {
  width: 100%;
  padding: 8px 0;

  position: fixed;
  left: 0;
  right: 0;
  z-index: 55;

  display: flex;
  justify-content: center;

  background-color: c.$bgColor_main;

  @media screen and (max-device-width: s.$max-device-width) {
    padding: 2px 0;
  }
}

.header-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container-logo {
  padding: 10px 0;
  box-sizing: border-box;

  display: flex;
  align-items: center;

  font-style: normal;

  &:hover {
    h1 {
      color: c.$fColorHeader_active;
    }
  }

  span {
    height: 23px;
    width: 23px;
    pointer-events: none;

    background-image: url('~@images/logo/VectorSmartObject.svg');
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-device-width: s.$max-device-width) {
      width: 18px;
      height: 18px;
    }
  }

  h1 {
    margin-left: 12px;
    pointer-events: none;

    font-size: s.$fzHeaderH1;
    font-weight: normal;
    white-space: nowrap;
    text-transform: uppercase;
    color: c.$fColorHeader;

    transition: color 0.4s;

    @media screen and (max-device-width: s.$max-device-width) {
      font-size: s.$fzHeaderH1_adapt;
      margin-left: 5px;
    }
  }

  @media screen and (max-device-width: s.$min-width) {
    padding: 5px 0;
  }
}

.header-container-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 35px;

  @media screen and (max-device-width: s.$min-width) {
    gap: 20px;
  }
}

.header-nav-link {
  padding: 10px 0;
  box-sizing: border-box;

  font-size: s.$fzHeader_nav;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.025em;
  text-transform: capitalize;
  color: c.$fColorHeader;

  transition: color 0.4s;

  &:hover {
    color: c.$fColorHeader_active;
  }

  &:before {
    font-size: 0;
  }


  span {
    color: c.$fColorWhite;

    @media screen and (max-device-width: s.$min-width) {
      font-size: 1rem;
    }
  }

  @media screen and (max-device-width: s.$min-width) {
    color: c.$fColorHeader_active;
    font-size: 0;
    &:before {
      font-size: 1rem;
      margin: 5px 3px 0 0;
    }
    &:focus, &:active {
      color: c.$fColor_orange;
    }
  }
}

.nav-link-active {
  color: c.$fColorHeader_active;
  border-bottom: 3px solid c.$fColorHeader_active;
}

.header-nav-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;


  @media screen and (max-device-width: s.$min-width) {
    position: relative;
    box-sizing: border-box;
    padding-top: 4px;

    .header-nav-link:last-of-type {
      display: none;
    }
    .header-nav-link.icon-enter, .header-nav-link.icon-user {
      &:focus {
        color: c.$fColor_orange;
      }
    }
    .header-nav-link.create {
      font-size: 1em;
      color: c.$fColorHeader_active;
      display: block;

      &:focus, &:active {
        color: c.$fColor_orange;
      }

      @media screen and (max-device-width: s.$max-device-width) {
        font-size: 0.8rem;
      }
    }
  }

  span {
    @media screen and (max-device-width: s.$min-width) {
      display: none;
    }
  }
}