@use '~@scss/variables/colors' as c;
@use '~@scss/variables/sizes' as s;


.items-filtered {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  grid-gap: 10px;

  margin: 0 auto;
  padding-bottom: 5em;

  justify-content: space-between;

  @media screen and (max-device-width: s.$max-width-resp) {
    grid-template-columns: 1fr;
  }
}

.item-filtered-container {
  grid-column: span 2;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px 10%;
  padding-top: 30px;

  @media screen and (max-device-width: s.$min-width) {
    gap: 30px 5%;
  }
  @media screen and (max-device-width: s.$max-width-resp) {
    grid-column: span 1;

    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

}

.item-filtered-container.delete-item {
  transform: translateX(100%) scale(0);
  transition: transform 0.2s ease-in;
}

.item-filtered-img {
  width: 45%;
  height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @media screen and (max-device-width: s.$min-width) {
    width: 30%;
    height: 50%;
    align-self: center;
  }

  @media screen and (max-device-width: s.$max-width-resp) {
    width: 100%;
    height: 250px;

  }
}

.item-filtered-description {
  width: 45%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid;

  h2 {
    font-size: 1.8em;
    font-weight: 400;
    color: c.$fColorWhite;
    letter-spacing: 0.01em;
    text-align: right;

    margin: 10px;
  }

  p {
    line-height: 1.2rem;
    margin: 10px 0;
    text-indent: 10px;

    font-size: s.$fzDescription_product;
    color: c.$fColorDescription_product;

    &:nth-of-type(odd) {
      color: c.$fColorWhite;
    }
  }

  ul {
    padding: 0 0 0 25px;
    box-sizing: border-box;
    list-style-type: circle;
    max-width: 90%;
    margin: 0 auto;

    li {
      padding: 5px 0;
    }
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 0 5%;
    margin: 10px;

    .item-purchase-prise {
      display: inline-block;

      font-size: s.$fzDescription_price;
      color: #d1b482;

      @media screen and (max-device-width: s.$max-device-width) {
        display: inline-block;
        width: 50%;
        padding: 16px 0;
        text-align: center;
        background: c.$bgColorItem_price-adapt;
      }
    }

    button {
      font-size: s.$fzButton_content_purchase;
      background: c.$bgColorButton_purchase;
      color: c.$fColorWhite;
      padding: 10px 15px;

      &:hover {
        opacity: 0.7;
      }
    }

    .item-description-likeBtn {
      width: 37px;
      height: 33px;

      background: url('~@images/buttons/heartB.svg') no-repeat;

      @media screen and (max-device-width: s.$max-device-width) {
        transform: scale(0.7);
      }

      &:hover {
        animation: heartAdd 1.5s ease-in-out;
      }
    }

    .button-like_active {
      background: url('~@images/buttons/heart.svg') no-repeat center;

      &:hover {
        animation: heartRemove 1.5s ease-in-out;
        transform-origin: center bottom;
      }
    }

  }

  @media screen and (max-device-width: s.$min-width) {
    width: 65%;
  }
  @media screen and (max-device-width: s.$max-width-resp) {
    width: 100%;
    h2 {
      text-align: center;
      font-size: 1.5em;
    }

    div {
      justify-content: center;
    }
  }

}