@import '~@scss/header';
@import '~@scss/main-nav';
@import '~@scss/main-content';
@import '~@scss/animations.scss';

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: #1c1b15;
  font-family: 'Roboto Condensed', sans-serif;
  color: #cccccc;
}

a {
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.wrapper {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  @media screen and (max-device-width: 425px) {
    padding: 0 15px;
  }
}
