@import '~@scss/header';
@import '~@scss/main-nav';
@import '~@scss/main-content';
@import '~@scss/animations.scss';
@import "~@scss/popup.scss";
@import "~@scss/suggestions.scss";
@import "~@scss/description.scss";
@import "~@scss/iconmoon.scss";
@import "~@scss/price.scss";
@import "~@scss/btn-added.scss";

@font-face {
  font-family: 'icomoon';
  src: url('../assets/fonts/iconmoon/icomoon.woff?dn1foy') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


@font-face {
  font-family: 'RobotoCondensedRegular', sans-serif;
  src: url("~@font/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'RobotoCondensedBold', sans-serif;
  src: url("~@font/Roboto-Regular.ttf");
  font-weight: bold;
}


body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;


  background-color: #1c1b15;
  font-family: 'Roboto Condensed', sans-serif;
  color: #cccccc;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: #cccccc;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

input {
  border: none;
  outline: none;
  appearance: none;

  &:focus {
    outline: none;
  }
}

.wrapper {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  @media screen and (max-device-width: 425px) {
    padding: 0 15px;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
