.login-popup, .create-popup {
  width: 300px;
  padding: 10px;
  box-sizing: border-box;

  background: c.$bgColorPopUp;
  color: c.$fontColorPopUp;

  position: fixed;
  top: 85px;
  right: 5%;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 20px 25px;
    border-color: transparent transparent c.$bgColorPopUp transparent;

    position: absolute;
  }

  h2 {
    font-size: s.$fontSizeLoginHeader;
    text-align: center;
  }

  .login-popup_form, .create-popup_form {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      font-size: s.$fontSizeLogin;

    }

    input {
      width: 97%;
      margin: 10px 0;
      padding: 3px;

      text-indent: 5px;
      color: c.$fontColorPopUp;
      font-size: s.$fontSizeLogin;
    }

    .login-popup_link {
      font-size: 12px;
      color: c.$fontColorPopUpLink;
    }

    .login-button {
      align-self: flex-end;

      width: 45px;
      height: 35px;
      font-size: s.$fzButton_popup;

      font-weight: bold;

      background: c.$fontColorPopUp;
      color: c.$fColorWhite;

      transition: 0.3s background-color, 0.3s color;

      &:hover {
        color: c.$fontColorPopUp;
        background: c.$fontColorPopUp;
      }
    }
  }

  @media screen and (max-device-width: s.$max-device-width) {
    width: 100%;
    right: 0;
  }
}

.create-popup {
  &:before {
    top: -19px;
    right: 0;
  }

  button {
    margin-top: 10px;
  }
}

.login-popup {
  &:before {
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
  }

  button {
    margin-top: 10px;
  }
}