@use '~@scss/variables/colors' as c;
@use '~@scss/variables/sizes' as s;


.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-container {
  $circleCount: 12;
  $animationDuration: 1.2s;

  width: 4em;
  height: 4em;
  position: relative;
  margin: auto;

  .spinner-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .spinner-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: c.$spinnerBcg;
    border-radius: 100%;
    animation: sk-circle-bounce-delay $animationDuration infinite ease-in-out both;
  }

  @for $i from 2 through $circleCount {
    .spinner-circle-#{$i} {
      transform: rotate((360deg / $circleCount * ($i - 1)));
    }
  }

  @for $i from 2 through $circleCount {
    .spinner-circle-#{$i}:before {
      animation-delay: (-$animationDuration + $animationDuration / $circleCount * ($i - 1));
    }
  }
}

@keyframes sk-circle-bounce-delay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}