$bgColor_main: #000000;
$fColorHeader: #919191;
$fColorHeader_active: #cccccc;
$fColorContent_nav: #cccccc;


$fColorWhite: #ffffff;
$bgColorButton_purchase: #e95104;
$bgColorButton_purchase_border-hov: #421e0e;
$fColorDescription_product: #cccccc;
$fColorDescription_price: #d1b482;

$fColorDescription_p: #999999;
$bgColorItem_price-adapt: #232323;

$fontColorFilterButton: #cccccc;
$fontColorFilterButtonActive: #ffffff;

$bgColorFilters: #171717;

$bgColorPopUp: rgba(233, 81, 4, 0.9);
$fontColorPopUp: #232323;
$fontColorPopUpLink: #e95104;