$bgColor_main: #000000;
$fColorHeader: #919191;
$fColorHeader_active: #cccccc;
$fColorContent_nav: #cccccc;
$baColorGray: #232323;

$fColorGray: #919191;
$fColorWhite: #ffffff;
$bgColorButton_purchase: #e95104;
$bgColorButton_purchase_added: #668048;
$bgColorButton_purchase_border-hov: #421e0e;
$fColorDescription_product: #cccccc;
$fColorDescription_price: #d1b482;

$fColorDescription_p: #999999;
$bgColorItem_price-adapt: #232323;
$fColorDescriptionUl: #cccccc;

$fontColorFilterButton: #cccccc;
$fontColorFilterButtonActive: #ffffff;

$bgColorFilters: #171717;

//popup
$bgColorPopup: rgba(233, 81, 4, 0.9);
$fColorLogin: #232323;
$fColorCrossHover: #421e0e;
$fColorLink: #421e0e;
$bgColorButton: #421e0e;

$bgColorPopUp: rgba(233, 81, 4, 0.9);
$fontColorPopUp: #232323;
$fontColorPopUpLink: #e95104;
$fColorHeaders: #cccccc;

$gold: #d1b482;

//checkbox
$bgColor_checkbox: #e95104;
$baColor_total-btn: #232323;