//break points

$min-device-width-mob: 320px;
$max-device-width: 425px;
$max-width-resp: 640px;

$min-width: 720px;
$max-width: 1260px;

//font-size

$fzHeaderH1: 16px;
$fzHeaderH1_adapt: 12px;
$fzHeader_nav: 15px;

$fzNav_content: 17px;
$fzNav_content_adapt: 15px;

$fzDescription_product: 15px;
$fzDescription_product_adapt: 13px;
$fzDescription_H3: 30px;
$fzDescription_price: 15px;
$fzDescription_price_adapt: 15px;
$fzButton_content_purchase: 12px;

$fzItem_button_purchase: 17px;
$fzItem_price: 24px;
$fzItem_description_p: 17px;
$fzDescription_H3_adapt: 18px;
$fzItem_H2: 64px;
$fzItem_H2_adapt: 24px;

//popup

$fzPopupContent: 1.3rem;
$fzPopupContentResponsive: 1rem;
$fzPopupH2: 2rem;
$fzPopupH2Responsive: 1.5rem;
$fzPopupLink: 1rem;
