//break points

$min-device-width-mob: 320px;
$max-device-width: 425px;
$max-width-resp: 640px;

$min-width: 720px;
$max-width-tab: 960px;
$max-width: 1260px;


//font-size

$fzHeaderH1: 1rem;
$fzHeaderH1_adapt: 0.75rem;
$fzHeader_nav: 0.94rem;

$fzNav_content: 1rem;
$fzNav_content_adapt: 0.94rem;

$fzDescription_product: 0.94rem;
$fzDescription_product_adapt: 0.8rem;
$fzDescription_H3: 1.87rem;
$fzDescription_price: 0.94rem;
$fzDescription_price_adapt: 0.94rem;
$fzButton_content_purchase: 0.9rem;

$fzItem_button_purchase: 1rem;
$fzItem_price: 1.5rem;
$fzItem_description_p: 1rem;
$fzDescription_H3_adapt: 1.1rem;
$fzItem_H2: 2.5rem;
$fzItem_H2_adapt: 1.5rem;
$fzDiscount: 0.94rem;

$fontSizeLoginHeader: 1.5rem;
$fontSizeLogin: 1.1rem;
$fzButton_popup: 0.75rem;

//popup

$fzPopupContent: 1.3rem;
$fzPopupContentResponsive: 1rem;
$fzPopupH2: 2rem;
$fzPopupH2Responsive: 1.5rem;
$fzPopupLink: 1rem;


//lists
$fzButton_list_purchase: 0.9rem;

//price
$fzSale: 1rem;
$fzSale_Adapt: 1.2rem;
